<h1> create your own candy!</h1>
<h2> enter the deetails for your candy and we will make it no problem!</h2>

<%form_tag candies_path do%>
    <div><h2>Name: <%= text_field_tag 'Name' %></h2></div>
    <div><h2><%= <%= text_field_tag 'Calories'%></h2></div>
    <div><h2> <%= text_field_tag 'Wrapper' %></h2></div>
    <div><h2> <%= text_field_tag 'Has Nuts' %></h2></div>
